* {
      margin: 0;
      padding: 0;
      border: none;
      position: relative;
      color: #212121;
      box-sizing: border-box;
      vertical-align: middle;
      z-index: 2;
    }
    html, body {
      min-height: 100%;
      height: 100%;
    }
    #summary {
      min-height: 100%;
      padding: 100px 0 60px; /*to offset main since header and footer are fixed*/
      font-family: 'Roboto', sans-serif;
      /*background-color: green;*/
    }
    #summary header {
      position: fixed;
      width: 100%;
      height: 100px;
      margin-top: -100px;
      background-color: white;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
      z-index: 30;
    }
    .logo {
      position: absolute;
      margin: 15px 0 15px 60px;
      color: white;
      font-size: 50px;
      font-weight: bolder;
      /*font-style: italic;*/
      letter-spacing: 5px;
      text-shadow: 5px 8px 20px #00796B;
    }
    a {
      text-decoration: none;
    }
    #summary main {
      margin: 0 auto;
      width: 90%;
      min-height: 700px;
      padding: 10px;
      background-color: white;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }
    #summary main + main {
      display: none;
    }
    .img-responsive {
      max-width: 100%;
      height: auto;
    }
    .post-text, .actions {
      padding: 12px;
      font-size: 14px;
      line-height: 1.4;
      word-wrap: break-word;
    }
    .avatar-post ~ div {
      display: inline-block;
      vertical-align: top;
      padding-top: 27.5px;
    }
    .posted-by {
      font-size: 16px;
    }
    #detail .posted-by {
      font-size: 24px;
    }
    .green-text {
      color: #009688;
    }
    .posted-by ~ span, .commented-by ~ span {
      font-size: 10px;
      color: #727272;
    }
    #detail .posted-by ~ span, #detail .commented-by ~ span {
      font-size: 13px;
      color: #727272;
    }
    .actions {
      padding-top: 0;
    }
    .actions > span, .actions > span i {
      color: #727272;
      margin-right: 1px;
      font-size: inherit;
      vertical-align: text-top;
    }
    .fab-comment {
      height: 35px;
      width: 35px;
      margin: 0 12px 20px;
      border-radius: 50%;
      background-color: #ff5722;
      box-shadow: 0 0 2px #212121;
      cursor: pointer;
    }
    #detail .fab-comment {
      left: 50%;
      height: 50px;
      width: 50px;
      margin-left: 230px;
      box-shadow: 0 30px 60px #888;
      z-index: 20;
    }
    .fab-comment > i {
      padding: 6px;
      color: white;
      font-size: 22px;
    }
    #detail .fab-comment > i {
      padding: 7px;
      color: white;
      font-size: 36px;
    }
    .avatar-post {
      width: 65px;
      height: 65px;
      margin: 0 10px 10px 0;
      border-radius: 0 50% 0 50%;
    }
    .cards-container {
      column-break-inside: avoid;
    }
    .cards-container .card {
      display: inline-block;
      overflow: visible;
      min-height: 209px;
      min-width: 209px;
      margin: 5px 1px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    }

    @media only screen and (max-width: 769px) {
      .cards-container {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
      }
    }
    @media only screen and (min-width: 770px) {
      .cards-container {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
      }
    }
    @media only screen and (min-width: 1140px) {
      .cards-container {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
      }
    }
    @media only screen and (min-width: 1440px) {
      .cards-container {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
      }
    }
    .card:hover {
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
     transition-duration: 1s; 
    }
    .header-navs {
      display: inline-block;
      left: 20%;
      width: 60%;
      font-size: 28px;
    }
    .main-nav, .sec-nav {
      margin-top: 15px;
      width: 100%;
      text-align: center;
    }
    .main-nav li {
      display: inline-block;
      width: 30%;
      max-width: 100px;
      text-align: center;
      font-size: 22px;
      line-height: 1.6;
    }
    .main-nav li:hover {
      background-color: #e2f9f7;
    }
    .main-nav-active {
      color: #009688;
      border-bottom: 1px solid #009688;
    }
    .sec-nav {
      background-color: #009688;
    }
    .sec-nav li {
      display: inline-block;
      width: 25%;
      max-width: 100px;
      text-align: left;
      color: #B2DFDB;
      font-size: 18px;
    }
    ul li.sec-nav-active {
      color: white;
    }
    footer {
      /*position: absolute;
      bottom: 0;*/
      width: 100%;
      height: 50px;
      margin-top: -50px;
      background-color: white;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
      z-index: 30;
    }


/*for the lay-over*/

/*import url("whitespace-reset.css");*/

#detail {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
  overflow: auto;
  z-index: 1010;
}

h1 {
  padding: 0 0 25px 0;
  font-size: 32px;
}

#detail-main > h1 {
  color: #bbb;
}

h2 {
  padding: 0 0 15px 0;
  font-size: 28px;
}

h3 {
  padding: 0 0 25px 0;
  font-size: 24px;
}

#detail main {
  display: block !important;
  position: absolute;
  top: 60px!important;
  left: 50%;
  width: 640px;
  min-height: 250px;
  margin-bottom: 20px;
  margin-left: -320px;
  padding:  20px 30px;
  background-color: white;
  border-radius: 6px;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

#detail > .close {
  position: absolute;
  top: 52px;
  left: 50%;
  margin-left: 330px;
  color: #aaa;
  font-size: 36px;
  cursor: pointer;
  z-index: 10;
}

#detail a.prev,
#detail a.next {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #aaa;
  font-size: 48px;
  cursor: pointer;
  z-index: 10;
}

#detail a.prev {
  margin-left: -367px;
}

#detail a.next {
  margin-left: 327px;
}
#detail a.prev:hover, #detail a.next:hover,
#detail .close:hover {
  color: white;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  font: normal 16px Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #2a8bb8;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: #c5eafa;
  -webkit-appearance: none;
}

a.favorite {
  color: #ffffff;
  background: #b70e85;
}

#slideshow {
  position: relative;
  margin: 0 0 40px 0;
}

#slides {
  position: relative;
  width: 100%;
  height: auto;
  /*max-height: 600px;*/
}

#slides figure {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  width: 100%;
  height: 600px;
}

#slides figure + figure {
  display: none;
}

/*#slides img {
  display: block;
  width: 100%;
}
*/
#slides figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 15px;
  line-height: 140%;
  color: #fff;
  background: rgba(0, 0, 0, .7);
}

section header {
  position: relative;
  padding: 0 0 40px 0;
}

#detail .actions, #detail .post-text {
  font-size: 18px;
}

#comments form {
      margin-bottom: 35px;
  /*overflow-y: scroll;*/
}

#comments form,
#comments ul li {
  list-style: none;
  padding-top: 20px;
  margin-top: 10px;
  border-top: 1px solid #cecece;
  background-color: white;
}

#comments figure {
  float: left;
  margin: 0 20px 0 0;
}

#comments figure img {
  width: 48px;
  border-radius: 100%;
}

#comments li {
}

#comments article header {
  padding: 8px 0;
}

#comments article h1 {
  padding: 0;
  font-size: 20px;
}

#comments article header + p {
  clear: both;
  padding: 15px 0 0 0;
  margin: 0 0 0 68px;
}

#comments li + li {
}

form h4 {
  padding: 0 0 15px 0;
  font-size: 18px;
}

form dt {
  padding: 0 0 5px 0;
  font-size: 14px;
  font-weight: bold;
}
form dd {
  padding: 0 0 15px 0;
}

input[type="text"],
input[type="email"] {
  width: 250px;
  height: 30px;
  padding: 5px;
  font: normal 14px Helvetica, Arial, sans-serif;
  color: #333;
  border: 1px solid #cecece;
  border-radius: 4px;
}

textarea {
  border: 1px solid #cecece;
  border-radius: 4px;
}
